<%- include('partials/header') -%>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item"> Home </a>

      <a class="navbar-item"> Dashboard </a>

      <div class="navbar-item has-dropdown is-hoverable"></div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/auth">
            <button class="button is-link">
              <span class="icon is-small">
                <i class="fab fa-discord"></i>
              </span>
              <span>Login</span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<%- include('partials/footer') -%>
